



@media (min-width: 1025px) {




}




@media (max-width: 1200px) and (min-width: 1024px){
	.gdlr-core-parallax { min-height: 100% !important; }
	.gdlr-core-parallax { height: 100% !important; }
	.header_slider * { min-height: 100%; }


	.header { height: auto;  }
	.header_top { 
		position: absolute; margin: auto; top: 0; left: 0; right: 0; 
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );	
	}
	.header_top__wrapper { justify-content: flex-end; position: relative; }
	.header_phone, .header_worktime { display: none; }
	.header_ooo { max-width: 282px; position: absolute; color: #fefefe; top: 54px; right: 15px; line-height: 1.2; text-align: right; font-size: 15px; font-weight: 100; }
	.header_bottom { padding-top: 0; }
	.menu > .menu__toggle { background-color: #2a344a; padding: 37px 28px 25px; margin-left: -15px; margin-top: 0; }

	.header_title { font-size: 100.92px; }
	.header_subtitle { font-size: 40.72px; font-weight: normal; }
	.header_subtitle:before { max-width: 274px; }
	.header_desc { font-size: 20px; }


	.menu__wrapper { margin-top: 0; }
	.menu__toggle { padding: 37px 28px 25px; }


	.l_block__title { font-size: 55px; }


	.staff_title { font-size: 55px; }
	.staff_subtitle { font-size: 32px; }
	.staff .wide__in:first-child { flex: 0 0 50%; }
	.staff_slider_left { padding-right: 30px; }
	.staff_arrow-right { right: 10px; }


	.lvl_item:nth-child(odd) .lvl_item__img { margin-right: 60px; }
	.lvl_item:nth-child(even) .lvl_item__img { margin-left: 60px; }
	.lvl_item__title { font-size: 26px; }
	.lvl_item__desc { font-size: 15px; }


	.comfort__title { font-size: 55px; }
	.comfort__subtitle { font-size: 15px; flex: 0 0 calc(50% - 1px); padding-left: 30px; box-sizing: border-box; }
	.comfort_item__title { font-size: 26px; }
	.comfort_item__desc { font-size: 15px; }
	.comfort_item:nth-child(odd) { padding-right: 30px; }
	.comfort_item:nth-child(even) { padding-left: 30px; }


	.length__title { font-size: 55px; }
	.length__subtitle { font-size: 32px; }
	.length__desc { font-size: 15px; }
	.length .wide__in:first-child { flex: 0 0 45%; }
	.length .wide__in:last-child { flex: 1 1 auto; }
	.length_item { margin-bottom: 35px;  }
	.length_item__title { font-size: 16px; }
	.length_item__icon { zoom: .8; }


	.service__title { font-size: 55px; }
	.service__subtitle { font-size: 32px; }
	.service__desc { font-size: 17px; }


	.tasks__title { font-size: 55px; }
	.tasks_item__title { font-size: 17px; }
	.tasks_item__desc { font-size: 15px; }
	.tasks__in:before { left: 10px; right: 10px; }


	.func__title { font-size: 55px; }
	.func__title span { font-size: 29px; }
	.func_icons_item__desc { font-size: 15px; }
	.func_carousel-slick { display: block; }
	.func_carousel { display: none; }


	.invest__title { font-size: 55px; }
	.invest__desc { font-size: 17px; }


	.invest_table__item-1 { font-size: 15px; }
	.invest_table__title { font-size: 40px; top: -22px; left: -19px; }
	.invest .f55 { font-size: 38px; }
	.invest .f89 { font-size: 55px; }
	.invest .f39 { font-size: 27px; }
	.invest_table__item-header.invest_table__item-4 { padding: 20px 0; }
	.invest_table__label { font-size: 15px; }
	.invest_grid__row-1 .invest_table__item-2, .invest_grid__row-2 .invest_table__item-3, .invest_grid__row-3 .invest_table__item-4 { font-size: 15px; }
	.invest_table__absolute { font-size: 15px; }
	.invest_bottom__label { font-size: 17px; }
	.invest_bottom .col-4 { width: auto; }

	.invest_grid__row-1 { margin-right: 15px; }
	.invest_grid__row-2 { margin-left: 15px; margin-right: 15px; }
	.invest_grid__row-3 { margin-left: 15px; }
	.invest_table__item-header.invest_table__item-2 { margin-right: 15px; }
	.invest_table__item-header.invest_table__item-3 { margin-left: 15px; margin-right: 15px; }
	.invest_table__item-header.invest_table__item-4 { margin-left: 15px; }


	.buy__title { font-size: 55px; }
	.buy_cards_item_desc_item__bottom { font-size: 23px; }
	.buy_btns { margin-top: -50px; }


	.photo__title { font-size: 55px; }
	.photo_list__item { height: 400px; }


	.blog_title { font-size: 55px; }
	.blog_item__title { font-size: 23px; }


	.managers_title { font-size: 42px; }
	.managers_item__img { height: 273px; }
	.managers_item__title { font-size: 16px; }


	.footer_bottom { font-size: 15px; }

	


	
}



@media  (max-width: 1023px) {
	.gdlr-core-parallax { min-height: 100% !important; }
	.gdlr-core-parallax { height: 100% !important; }
	.header_slider * { height: 100%; }

	.btn { height: 91px; line-height: 91px; font-size: 25.53px; padding: 0 30px; }
	.btn svg { transform: scale(1.6); margin-left: 17px; vertical-align: baseline; }
	.managers_form .btn { height: 52px; line-height: 52px; font-size: 14.59px; padding: 0 17px; }
	.managers_form .btn svg { transform: scale(1); margin-left: 10px; vertical-align: middle; }

	.header { height: auto;  }
	.header_top { 
		position: absolute; margin: auto; top: 0; left: 0; right: 0; 
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );	
	}
	.header_top__wrapper { justify-content: flex-end; position: relative; }
	.header_phone, .header_worktime { display: none; }
	.header_ooo { max-width: 282px; position: absolute; color: #fefefe; top: 54px; right: 15px; line-height: 1.2; text-align: right; font-size: 18.87px; font-weight: 100; }
	.header_bottom { padding-top: 0; }
	.header_bottom:before { zoom: .7; }
	.header_info > .wrapper { flex-direction: column; }
	.header_title { font-size: 118.92px; }
	.header_subtitle { font-size: 50.72px; font-weight: normal; }
	.header_subtitle:before { max-width: 274px; }
	.header_desc { font-size: 34.99px; }
	.header_info__right { margin-left: auto; margin-right: auto; }
	.header_counter .btn { order: 1; margin-bottom: 75px; margin-top: auto; }
	.header_counter__label { order: 2; }
	.header_counter__wrap { order: 3; }
	.header_i_wrap { width: 236px; margin: 0 auto 45px; }
	.header_i {  }


	.menu > .menu__toggle { background-color: #2a344a; padding: 37px 28px 25px; margin-left: -15px; margin-top: 0; }
	.menu__wrapper { margin-top: 0; }
	.menu__toggle { padding: 37px 28px 25px; margin-top: 0; margin-left: -15px; }

	.footer_top { flex-wrap: wrap; }
	.footer_gen { margin: 0 auto 25px; }
	.footer_gen__desc { font-size: 13.89px; }
	.footer_bottom { flex-wrap: wrap; justify-content: center; font-size: 15.64px; text-align: center; margin: 0 30px; }
	.footer_copy,
	.footer_link { margin: 0 30px 5px; }



	.staff .wide__in:first-child { flex: 0 0 100%; }
	.staff .wide__in:last-child { flex: 0 0 309px; width: 309px; height: 259px; position: absolute; right: 0; top: 15px; }
	.staff__left { max-width: 100%; }
	.staff_title { font-size: 70px; padding-right: 309px; }
	.staff_subtitle { font-size: 24px; padding-right: 309px; }
	.staff_desc { font-size: 24px; }
	.staff_arrow.staff_arrow-left { display: none !important; }
	.staff_arrow.staff_arrow-right { transform: scale(2); }


	.l_block__title { font-size: 70px; text-align: left; }
	.lvl_item__title { font-size: 35px; }
	.lvl_item__desc { font-size: 24px; }
	.lvl_item__info { max-width: 100%; padding: 0 !important; }
	.lvl_item .wide__in:first-child { display: none; }
	.lvl_item .wide__in:last-child { flex: 0 0 100%; box-sizing: border-box; padding: 0 30px; }

	.comfort__title { font-size: 70px; flex: 0 0 100%; margin-bottom: 20px; }
	.comfort__subtitle { font-size: 24px; flex: 0 0 100%; }
	.comfort_item { flex: 0 0 100%; }
	.comfort_item:nth-child(even) { text-align: right; }
	.comfort_item__title { font-size: 35px; }
	.comfort_item__desc { font-size: 24px; }



	.length .wide__in:first-child { flex: 0 0 100%; }
	.length .wide__in:last-child { position: absolute; width: 100%; margin: auto; left: 0; bottom: 0; right: 0; background-color: rgba(255,255,255,.76); }
	.length__in-left { max-width: 100%; padding-bottom: 155px; }
	.length__in-right { max-width: 100%; padding-top: 30px; padding-bottom: 30px; }
	.length__title { font-size: 126.65px; }
	.length__subtitle { font-size: 61.29px; }
	.length__desc { font-size: 24px; }

	.length_item { margin-bottom: 0; float: left; }
	.length_item__title { margin-bottom: 0; }
	.length_item__desc br { display: none; }
	.length__btn_wrap { display: none; }


	.service__title { font-size: 70px; }
	.service__subtitle { font-size: 30px; }
	.service__desc { font-size: 24px; }
	.service__btn_wrap { text-align: center; }


	.tasks__title { font-size: 70px; }
	.tasks_item { flex: 0 0 100%; }
	.tasks_item:nth-child(odd) { padding-right: 0;}
	.tasks_item:nth-child(even) { padding-left: 0;}
	.tasks_item__title { font-size: 35px; }
	.tasks_item__desc { font-size: 24px; }


	.func_icons { max-width: 670px; margin-left: auto; margin-right: auto; }
	.func_icons_item__desc { font-size: 45px; }
	.func_carousel-slick { display: block; }
	.func_carousel { display: none; }



	.invest__title { font-size: 70px; }
	.invest__desc { font-size: 20px; }
	.invest .wide__in:first-child { flex: 0 0 calc(100% - 30px); }
	.invest_grid { display: grid; grid-template-columns: 50% 50%; grid-template-rows: 1fr 1fr 1fr; margin-left: 5px; }
	.invest_table__label { display: none; }
	.invest_table__title { left: 20px; }
	.invest_table__item-header.invest_table__item-2 { grid-row: 1/2; grid-column: 1/2; margin-left: 0; margin-right: 22px; }
	.invest_table__item-header.invest_table__item-3 { grid-row: 2/3; grid-column: 1/2; margin-left: 0; margin-right: 22px; }
	.invest_table__item-header.invest_table__item-4 { grid-row: 3/4; grid-column: 1/2; margin-left: 0; margin-right: 22px; }
	.invest_grid__row-1 { grid-row: 1/2; grid-column: 2/3; display: flex; margin-left: 0; margin-right: 0; align-items: flex-end; padding-bottom: 58px; }
	.invest_grid__row-2 { grid-row: 2/3; grid-column: 2/3; display: flex; margin-left: 0; margin-right: 0; align-items: flex-end; padding-bottom: 58px; }
	.invest_grid__row-3 { grid-row: 3/4; grid-column: 2/3; display: flex; margin-left: 0; margin-right: 0; align-items: flex-end; padding-bottom: 58px; }
	.invest_grid__row-1 .invest_table__item-2, .invest_grid__row-2 .invest_table__item-3, .invest_grid__row-3 .invest_table__item-4 { float: left; margin-right: 10px; margin-bottom: 0; width: 100%; height: 2.2em; }
	.invest_grid__row-1 .invest_table__item-2.i1:before,
	.invest_grid__row-2 .invest_table__item-3.i1:before,
	.invest_grid__row-3 .invest_table__item-4.i1:before { content: 'Срок аренды'; display: block; position: absolute; left: 0; top: -30px; color: #f2f2ff;}
	.invest_grid__row-1 .invest_table__item-2.i2:before,
	.invest_grid__row-2 .invest_table__item-3.i2:before,
	.invest_grid__row-3 .invest_table__item-4.i2:before { content: 'Минимальный срок договора'; display: block; position: absolute; left: 0; top: -30px; color: #f2f2ff;}
	.invest_grid__row-1 .invest_table__item-2.i3:before,
	.invest_grid__row-2 .invest_table__item-3.i3:before,
	.invest_grid__row-3 .invest_table__item-4.i3:before { content: 'Стоимость услуг УК VALO Service'; display: block; position: absolute; left: 0; top: -30px; color: #f2f2ff;}
	.invest_grid__row-1 .invest_table__item-2.i4:before,
	.invest_grid__row-2 .invest_table__item-3.i4:before,
	.invest_grid__row-3 .invest_table__item-4.i4:before { content: 'Доступные апартаменты'; display: block; position: absolute; left: 0; top: -30px; color: #f2f2ff;}
	.invest_table__subtable { font-size: 15px; margin-bottom: 70px; margin-top: -45px; padding: 0 5px; }
	.invest_bottom > .col-4,
	.invest_bottom > .col-5 { width: 100%; flex: 0 0 100%; margin-left: 0; padding: 0 20px; }
	.invest_bottom > .col-4 { margin-bottom: 15px; }
	.invest_bottom > .col-5 { margin-bottom: 5px; }






	.buy__title { font-size: 70px; }
	.buy_tabs { justify-content: space-between; }
	.buy_tabs__item { font-size: 21.5px; width: 155px; }
	.buy_cards { flex-wrap: wrap; }
	.buy_cards > .col-4 { flex: 0 0 100%; order: 2; }
	.buy_cards > .col-8 { flex: 0 0 100%; order: 1; }
	.buy_cards_item__in { display: flex; align-items: flex-start; }
	.buy_cards_big .buy_cards_item__in { padding: 20px; }
	.buy_cards_big .buy_cards_item__img { flex: 0 0 40%; width: 40%; }
	.buy_cards_item__desc { margin-left: 20px; }
	.buy_btns { margin-left: 0; margin-top: 34px; max-width: 100%; }




	.managers_title { font-size: 33px; }
	.managers_item__title { font-size: 11.44px; }


	.blog_title { font-size: 70px; }
	.blog_list { max-width: 390px; }
	.blog > .wrapper .btn { display: none; }
	.blog > .wrapper_bottom  { display: block; margin-bottom: 10px; margin-top: 25px; display: flex; justify-content: center;  }
	.blog > .wrapper.wrapper_bottom .btn { display: block; margin: 0 auto; background-color: rgba(87,181,187,1); }



	.photo__title { font-size: 70px; text-align: center; flex-wrap: wrap; }
	.photo__title span { flex: 0 0 100%; margin-bottom: 20px; }
	.photo_list__item { height: 248px; }
	.photo > .wide { max-width: 750px; margin-left: auto; margin-right: auto; }




}
			 
@media (max-width: 767px) {
	.btn { height: 39px; line-height: 39px; font-size: 11px; padding: 0 13px; }
	.btn svg { transform: scale(.6); vertical-align: middle; position: relative; top: -1px; margin-left: 5px; }

	.wrapper { padding: 0 17px; }

	.logo { align-self: flex-start; margin-top: 5px; }
	.logo__img { width: 70px; height: 44px; }
	.header_top__wrapper  { height: 22px; line-height: 22px; }
	.header_bottom:before { zoom: .5; }

	.menu__toggle  { transform: scale(.7); }
	.menu > .menu__toggle, .menu_toggle { position: relative; display: inline-block; margin-left: 0; margin-top: 0; padding: 32px 22px 16px;  }
	.menu__toggle { margin-left: -32px; margin-top: -17px;}
	.menu { margin-right: -7px; margin-left: -32px; margin-top: -20px; }
	.main_menu__list { padding-left: 33px; margin-top: 0; }
	.main_menu__link { font-size: 15px; }
	.main_menu_sub { margin-top: 0; margin-bottom: 15px; }
	.mian_menu_sub__link { font-size: 10.05px; }


	.header_logo { margin-bottom: 23px; }
	.header_ooo { font-size: 8.03px; max-width: 124px; top: 30px; }
	.header_title { font-size: 50.74px; }
	.header_subtitle { font-size: 21.64px; margin-bottom: 21px; }
	.header_subtitle:before { max-width: 117px; border-bottom-width: 1px; }
	.header_desc { font-size: 15px; }
	.header_i { font-size: 8.77px; width: 74px; height: 36px; }
	.header_i:before { transform: scale(.4); transform-origin: 0 100% 0;  }
	.header_i_wrap { width: 130px; margin-bottom: 23px; }
	.header_counter__label { margin-bottom: 5px; }
	.header_brand img { zoom: .7; }
	.header_info > .wrapper { padding-left: 0; padding-right: 0; min-width: 200px; }
	.header_info__left { max-width: 470px; margin-left: auto; margin-right: auto; }
	.header_counter .btn { margin-bottom: 23px; }
	.header_control { margin-top: 0; position: relative; z-index: 3; position: relative; }
	.header_slider_control { margin-left: auto; margin-right: auto; zoom: .7; }
	.header_i_phone { position: absolute; z-index: 3; right: 0; margin: 0; top: -42px; }
	.header_i_mail  { position: absolute; z-index: 3; right: 0; margin: 0; top: 0; }




	.Counter { font-size: 17.08px; justify-content: center; margin-bottom: 15px; }
	.Counter-number { width: 31px; }
	.Counter-item { height: 34px; }
	.Counter-item > .in { height: 34px; line-height: 34px; }
	.Counter-item:nth-child(1),
	.Counter-item:nth-child(2) { margin-right: 18px; }
	.Counter-unit { height: 34px; }
	.Counter-item:before { bottom: initial; top: 15px; height: 5px; }
	.Counter-item:after { bottom: initial; top: 17px; }
	.Counter-label { left: -10px; right: -10px; text-align: center; }


	.staff_title { font-size: 29.87px; }
	.staff_subtitle { font-size: 10.5px; padding-right: 0; }
	.staff_desc { font-size: 10.5px; }
	.staff .wide__in:last-child { width: 131px; height: 106px; }
	.staff_slider_left { padding-left: 17px; padding-right: 35px; }
	.staff_slider_left__item { padding: 10px 0; }
	.staff_arrow.staff_arrow-right { transform: scale(1); right: 17px; }

		
	.l_block__title { font-size: 30px; }
	.lvl_item { margin-bottom: 25px; }
	.lvl_item:last-child { margin-bottom: 10px; }
	.lvl_item .wide__in:last-child { padding: 0 17px; }
	.lvl_item__ico { width: 50px; height: 50px; }
	.lvl_item__title { margin: 10px 0 5px; font-size: 15px; }
	.lvl_item__desc { font-size: 10.5px; }
	.lvl__more { font-size: 12.8px; }

	
	.comfort { padding: 22px 0; }
	.comfort__in > .wrapper { padding: 10px 17px; }
	.comfort__title { font-size: 30px; }
	.comfort__subtitle { font-size: 10.5px; margin-bottom: 20px; }
	.comfort_item { margin-bottom: 15px; }
	.comfort_item:nth-child(odd) { padding-right: 0; }
	.comfort_item:nth-child(even) { padding-left: 0; }
	.comfort_item__title { font-size: 15px; margin-bottom: 5px; }
	.comfort_item__desc { font-size: 10.5px; }

	
	.length .wide__in:last-child { bottom: 33px; }
	.length__in-left { padding: 25px 17px 155px; }
	.length__in-right { padding: 14px 17px; }
	.length__title { font-size: 54.03px; }
	.length__subtitle { font-size: 26.15px; }
	.length__title:after { zoom: .6; }
	.length__desc { font-size: 10.5px; }
	.length_item__title { font-size: 16.38px; }
	.length_item__num { font-size: 37.94px; }
	.length_item__desc { font-size: 16.38px; }
	.length_arrow-right { transform: translateY(-50%) scale(.4); }


	.service { padding: 32px 0 24px; }
	.service__title { font-size: 30px; }
	.service__subtitle { font-size: 13px; margin-bottom: 22px; }
	.service__desc { font-size: 10.5px; margin-bottom: 80px; }


	.tasks { padding: 32px 0; }
	.tasks__in > .wrapper { padding-left: 20px; padding-right: 20px; }
	.tasks__in:before { top: -17px; bottom: -17px; left: 12px; right: 12px; }
	.tasks__title { font-size: 30px; margin-bottom: 15px; }
	.tasks_item__icon { margin-right: 13px; width: 47px; height: 47px; }
	.tasks_item__title { font-size: 15px; margin-bottom: 3px; }
	.tasks_item__desc { font-size: 10.5px; }


	.func { padding-top: 17px; padding-bottom: 17px; }
	.func__title { font-size: 30px; }
	.func__title span { font-size: 19.2px; }
	.func_icons { margin-bottom: 35px; max-width: 280px; margin-left: auto; margin-right: auto; }
	.func_icons_item { padding-right: 22px; }
	.func_icons_item__desc { font-size: 19.2px; }
	.func_arrow-slick-left  { width: 13px; height: 44px; }
	.func_arrow-slick-right { width: 13px; height: 44px; }
	.func_carousel-slick_item__img { height: 172px; }
	.func_carousel-slick_item__title { font-size: 15px; text-align: center; padding: 10px; }



	.invest { padding: 15px 0; }
	.invest .wide { margin-bottom: 15px; }
	.invest .wide__in:first-child { flex: 0 0 calc(100% - 10px) }
	.invest__title { font-size: 30px; }
	.invest__desc { font-size: 10.5px; padding: 17px 10px 17px 10px; }
	.invest_table__title { font-size: 25.6px; left: 7px; top: -14px; }
	.invest .f89 { font-size: 37.97px; }
	.invest .f55 { font-size: 23.45px; }
	.invest .f39 { font-size: 16.91px; margin-top: -5px; }
	.invest_table__subtitle sup { font-size: 26.88px; }
	.invest_table__item-header.invest_table__item-2 { padding: 20px 5px; margin-right: 9px; }
	.invest_table__item-header.invest_table__item-3 { padding: 20px 5px; margin-right: 9px; }
	.invest_table__item-header.invest_table__item-4 { padding: 20px 5px; margin-right: 9px; }
	.invest_grid__row-1 .invest_table__item-2, .invest_grid__row-2 .invest_table__item-3, .invest_grid__row-3 .invest_table__item-4 { font-size: 10.5px; padding: 5px 5px 5px 13px; height: 3.3em; margin-right: 5px; }
	.invest_grid__row-1 .invest_table__item-2.i1:before, .invest_grid__row-2 .invest_table__item-3.i1:before, .invest_grid__row-3 .invest_table__item-4.i1:before { font-size: 10.5px; top: -20px; }
	.invest_table__item.invest_table__item-header { margin-bottom: 20px; }
	.invest_grid__row-1 { padding-bottom: 20px; }
	.invest_grid__row-2 { padding-bottom: 20px; }
	.invest_grid__row-3 { padding-bottom: 20px; }
	.invest_arrow-right { zoom: .5; top: 78px; }
	.invest__in .wrapper:last-child { padding: 0 12px; }
	.invest_table__absolute { font-size: 10.5px; }
	.invest_table__subtable { font-size: 10.5px; max-width: 50%; margin-left: auto; margin-top: -15px; margin-bottom: 15px; }
	.invest_bottom__label { font-size: 13px; }
	.invest_bottom > .col-4, .invest_bottom > .col-5 { padding: 0 17px; }



	.buy { padding: 15px 0; }
	.buy__title { font-size: 30px; }
	.buy_tabs { margin-bottom: 10px; padding: 0 1px; }
	.buy_tabs__item { font-size: 9.17px; height: 24px; line-height: 24px; max-width: 65px; box-shadow: 0 0 0 1px #fff; }
	.buy_tabs__item:hover:before { right: -1px; bottom: -1px; border-width: 1px; }
	.buy_tabs__item:hover:after { left: -1px; top: -1px; border-width: 1px; }
	.buy_cards_list.row { margin-left: -4.5px; margin-right: -4.5px; }
	.buy_cards_item.col-4 { padding: 0 4.5px; margin-bottom: 6px; }
	.buy_cards_item__in { padding: 10px 5px; }
	.buy_cards_big .buy_cards_item__in { padding: 10px; }
	.buy_cards_big .buy_cards_item__img { height: 40px; }
	.buy_cards_item__desc { margin-top: 0; margin-left: 13px; }
	.buy_cards_item_desc_item__top { font-size: 9px; }
	.buy_cards_item_desc_item__bottom { font-size: 21.68px; }
	.buy_btns { margin-top: 15px; }



	.photo__title { font-size: 30px; }
	.photo_list__item { height: 106px; }
	.photo_webcam iframe { height: 106px; display: block;  }


	.blog { padding: 15px 0; }
	.blog_title { font-size: 30px; }
	.blog_list { margin-top: 15px; }
	.blog_item__info { padding: 10px 25px 10px 20px; min-height: 106px; }
	.blog_item__title { font-size: 10.5px; }
	.blog_item__announce { font-size: 10.5px; }
	.blog_item__pubdate { font-size: 9px; }



	.managers_title { font-size: 14.8px; letter-spacing: 0;}
	.managers_item__title { font-size: 9px; padding-top: 7px; padding-left: 0; }
	.managers_form form { flex-direction: column; max-width: 280px; margin: 0 auto; }
	.managers_form form input { margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px;}
	.managers_form .btn { height: 39px; line-height: 39px; font-size: 11px; }


	.footer { padding: 11px 0 5px; }
	.footer_gen { margin: 0 auto 5px; }
	.footer_gen__label { font-size: 9px; text-align: left; }
	.footer_gen__desc { font-size: 9px; }
	.footer_top { margin-bottom: 5px; }
	.footer_bottom { font-size: 9px; }
	.footer_soc__item { zoom: 0.7; }

	
}

@media (max-width: 680px) {




}

 
@media (max-width: 480px) {




}

@media (max-width: 340px) {





}






